:root {
--primary-colour: #f65282;
--google-font: 'Lora', serif;
--hover-colour: #a393eb;
--primary-colour2: #f9ecec;
--paragraph-border: 1px solid #f65282;
--paragraph-border-radius: 10px;
}
nav {
    padding: 20px;
    background-color: var(--primary-colour);
    box-sizing: border-box;
    color: #ffff;
    text-align: center;
  }
header {
   background-color: var(--primary-colour); 
   margin: 0;
}
.body-font {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
body {
    margin: 0;
    padding: 0;
}
html {
    margin: 0;
    padding: 0;
}
i.fa-solid.fa-scale-balanced {
    color: var(--primary-colour);
    font-size: 50px;
    position: absolute;
    top: 65px ;
    right: 330px;
}
.navbar-menu ul {
    
    display: flex;
    justify-content: flex-end; 
    margin: 0; 
    padding: 0;
}
.navbar-menu li {
    margin-left: 20px; 
    font-family: var(--google-font);
    list-style-type: none;
  }
  .navbar-menu {
    background-color: #f9ecec;
  }
  a {
    text-decoration: none;
    color: var(--primary-colour);
  }
  a:hover {
    text-decoration: underline;
    color: var(--hover-colour);
  }
.background-image {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    position: relative;
}
.features {
  background-color: var(--primary-colour2); 
  border: 2px solid #ccc; 
  border-radius: 10px; 
  padding: 20px; 
  margin-bottom: 20px;
  text-align: center;
  margin-bottom: 20px;
  max-width: 800px;
  margin-left: 220px;
  
}
.footer-info {
    color: var(--primary-colour);
}
.address {
    color: black;
    text-align: center;
}
.address:hover {
    color: var(--hover-colour);
    text-decoration: underline;
}
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 200px;
    border-radius: 10px;
  }
    .login-box button {
    margin-right: 10px;
  }
  button {
    background-color: var(--primary-colour);
    padding: 25px;
    border: 1px;
    border-radius: 15px;
  }
  button:hover {
    background-color: var(--primary-colour2);
    color: var(--primary-colour);
    cursor: pointer;
  }
  #login-button {
    padding: 25px;
  }
  #signup-button {
    padding: 25px;
  }
  .paragraphs {
    color: var(--primary-colour2);
    margin-right: 350px;
    margin-left: 350px;
    line-height: 1.75;
    color: var(--primary-colour);
  }
  .paragraph-1 {
    border: var(--paragraph-border);
    border-radius: var(--paragraph-border-radius);
    background-color: var(--primary-colour2);
  }
  .paragraph-2 {
    border: var(--paragraph-border);
    border-radius: var(--paragraph-border-radius);
    margin-top: 50px;
    background-color: var(--primary-colour2);
  }
  .paragraph-3 {
    border: var(--paragraph-border);
    border-radius: var(--paragraph-border-radius);
    margin-top: 50px;
    background-color: var(--primary-colour2);
  }
  .paragraph-4 {
    border: var(--paragraph-border);
    border-radius: var(--paragraph-border-radius);
    margin-top: 50px;
    background-color: var(--primary-colour2);
  }
  .paragraph-5 {
    border: var(--paragraph-border);
    border-radius: var(--paragraph-border-radius);
    margin-top: 50px;
    background-color: var(--primary-colour2);
  }